@import "../../Styles/constants";

.grid {
  margin: -10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  overflow-x: auto;

  .list-item {
    max-width: 500px;
  }

  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .list-item {
      flex-grow: 1;
    }
  }
}