@import "../../Styles/constants";

.header {
  background-color: $color-primary;
  text-align: center;
  
  .home-link {
    @include homeLinkFont();
  }
}

.nav {
  background-color: $color-background-darker;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 1;

  .nav-link {
    @include navFont();
    color: $color-foreground;
    font-weight: bold;
    margin: 0 $spacing-small;

    &:hover{
      background-color: $color-foreground;
      color: $color-background-darker;
    }
  }
}